<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/65dba39d-4736-4fb8-99ec-b7986f978caf/resourceGroups/rs/providers/Microsoft.Web/sites/StudySessionMicroservice</ResourceId>
    <ResourceGroup>rs</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://studysessionmicroservice-gchqd8ghbnb6brfx.scm.southeastasia-01.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://studysessionmicroservice-gchqd8ghbnb6brfx.southeastasia-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>REDACTED</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>